#modalWindow_addSeedSearch {
    width: 350px;
}

#main_seedSearchModal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#field_seedType {
    display: flex;
    gap: 8px;
}

#select_seedType {
    position: relative;    
}