#catalogBrowser {
    flex: 1;
    width: 100%;

    padding-top: 52px;
    padding-bottom: 99px;

    background-color: #333;

    &.playlistBrowser {
        display: flex;
        align-items: flex-start;
    }
    
    &.hasOverviewPanel > main {
        width: 80%;
        box-sizing: border-box;
    }
}