#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 8px;

    background-color: #222;

    .navBar_section {
        display: flex;
        gap: 8px;
    }
}

#homeIcon {
    height: 32px;

    cursor: pointer;
}

#microphoneContainer {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);

    border-radius: 100%;
    background-color: #222;
}

#microphoneIcon {
    height: 32px;
    padding: 10px;

    cursor: pointer;

    &.microphoneIcon_disabled {
        filter: brightness(50%);
    }
}

#btnLogin {
    padding: 8px;

    background-color: rgb(255, 200, 0);
    color: #222;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#profilePic {
    height: 32px;

    border-radius: 100%;
    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }
}

#profileContextMenu {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;

    padding: 0;

    background-color: #222;
    overflow: hidden;
    transition: max-height ease-in .1s;

    #profileContextMenu_options {
        margin: 0;

        padding: 0;

        a {
            text-decoration: none;
        }

        .profileContextMenu_option {
            padding: 8px;

            list-style-type: none;
            user-select: none;
            cursor: pointer;

            &:hover {
                background-color: #444;
            }
            &:active {
                background-color: #555;
            }
            &#profileContextMenu_disconnect {
                color: #f22;
            }
        }
    }
}