#playbackPanel {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #222;
}

#trackDetails {
    display: flex;

    padding: 10px;
}

#trackProperties {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.trackProperty {
    display: flex;
    align-items: center;
    
    padding-left: 10px;
}

#trackTitle {
    font-weight: bold;
}

#albumCover {
    height: 63px;
    cursor: pointer;
    
    &:hover {
        opacity: 0.9;
    }
}

#mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;

    padding: 10px;
}

#controlsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#progressSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#progressBar {
    position: relative;
    margin: 0 8px;

    flex: 1;
    height: 4px;

    background-color: #666;
    border-radius: 1vh;
    cursor: pointer;
}

#progressBarPreview, #progressBarFill {
    position: absolute;
    top: 0;
    bottom: 0;

    border-radius: inherit;
}

#progressBarFill {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#progressBarPreview {
    width: 0;
    background-color: #AAA;
}

#progressBarFill {
    background-color: #FFF;
}

#progressBarFill::before { // Grot paska postępu
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #FFF;
  }

.btnTogglePlayback {
    height: 32px;

    cursor: pointer;
}

#miscControls {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    padding: 10px;
}

#volumeSection {
    display: flex;
    align-items: center;

    padding: 2.25px;
}

#volumeLabel {
    display: flex;

    height: auto;
}

#volumeIcon {
    height: 16px;

    cursor: pointer;
}

#volumeBar {
    height: 4px;

    appearance: none;
    background-color: #666;
    border-radius: 15px;
    cursor: pointer;
}

#volumeBar::-webkit-slider-thumb {
    height: 12px;
    width: 12px;

    appearance: none;
    background-color: #FFF;
    border-radius: 50%;
    border: none;
}