.trackList_item {
    position: relative;
    &:hover {
        background-color: #2a2a2a;
    }

    &:not(:last-of-type) td {
        border-bottom: 1px solid #222;
    }

    td, td p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    td:first-of-type {
        width: 36px;
    }
}

.trackList_item > td {
    padding: 8px;

    text-align: left;
}

.trackList_item_title, .trackList_item_album {
    display: flex;
    gap: 8px;
    align-items: center;

    font-style: italic;
}

.trackList_item_titleText {
    text-decoration: underline;
    cursor: pointer;
}

.trackList_item_btnTogglePlayback {
    height: 24px;
}

.trackList_item_albumCover {
    height: 32px;
    
    border-radius: 4%;
}

.trackList_item_btnTogglePlayback, .trackList_item_albumCover {
    cursor: pointer;

    vertical-align: bottom;

    &:hover {
        filter: brightness(85%);
    }
}

.trackList_item_btnKebab {
    display: block;
    height: 24px;
    width: 24px;
    padding: 4px;
}

.trackList_item_contextMenu {
    top: 40px;
    right: 6px;
}