#overviewPanel {
    position: fixed;
    box-sizing: border-box;
    top: 52px;
    bottom: 83px;
    right: 0;
    width: 20%;
    padding: 36px;

    overflow-y: scroll;
    background-color: #3a3a3a;
}

#itemFigure {
    position: relative;
    margin: 0;
}

#itemFigure_thumbnail {
    width: 100%;

    border-radius: 4%;
}

#itemFigure_btnKebab {
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;

    cursor: pointer;
}

#itemFigure_contextMenu {
    top: 56px;
    right: 16px;
}

#itemFigure, #overviewPanelDetails {
    flex: 1;
}

#itemFigcaption {
    display: flex;
    align-items: center;
    gap: 8px;
    
    margin: 8px;
}

.playlist_btnTogglePlayback, .btn_edit {
    height: 25px;

    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }
}

#itemName {
    margin: 0;

    overflow: hidden;
    word-wrap: break-word;
}

#form_itemName {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#input_itemName {
    padding: 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    outline: none;
}

#btnSubmit_itemName, #btnCancel_itemName {
    padding: 6px;
    border-radius: 6px;
}