.overviewPanelDetails_detail:not(:last-child) {
    margin-bottom: 4px;
}

.overviewPanelDetails_detail_editModeActive {
    display: flex;
    gap: 6px;
}

.overviewPanelDetails_detailName {
    font-weight: bold;
}