#overviewPanel {
    position: fixed;
    box-sizing: border-box;
    top: 52px;
    bottom: 83px;
    right: 0;
    width: 20%;
    padding: 36px;

    overflow-y: scroll;
    background-color: #3a3a3a;
}

#itemFigure {
    margin: 0;
    position: relative;
}

#itemFigure_thumbnail {
    width: 100%;
    position: relative;

    cursor: pointer;

    &:hover {
        #itemFigure_thumbnailImage {
            filter: brightness(85%);
        }
        .playlist_btnTogglePlayback {
            visibility: visible;
        }
    }
}

#itemFigure_thumbnailImage {
    width: 100%;

    border-radius: 4%;
}

.playlist_btnTogglePlayback {
    height: 25%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

#itemFigure_btnKebab {
    height: 24px;
    width: 24px;
    position: absolute;
    top: 16px;
    right: 9px;

    cursor: pointer;
}

#itemFigure_contextMenu {
    top: 56px;
    right: 16px;
}

#itemFigure, #overviewPanelDetails {
    flex: 1;
}

#itemFigcaption {
    display: flex;
    align-items: center;
    gap: 8px;
    
    margin: 8px;
}

#btnEdit_itemName {
    height: 25px;
}

#itemName, #itemDescription {
    margin: 0;
    padding: 0;

    word-break: break-word;
}

.form_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#input_itemName, #input_itemDescription {
    padding: 3px;

    font: inherit;
    border: none;
    border-radius: 4px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #AAA;
    background-color: rgba(0, 0, 0, 0.2);
    color: inherit;
    outline: none;
}

.btnSubmit, .btnCancel {
    padding: 6px;
    border-radius: 6px;
}

#itemDescriptionSection {
    display: flex;
    align-items: center;
    gap: 6px;
    
    margin: 6px;
}