.modalWindow {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 235px);
    max-width: 800px;
}

.lyricsModal_main {
    overflow-y: auto;
    padding: 8px 0;
}

.lyrics {
    margin: 0 8px;
    
    white-space: pre-line;
    font-style: italic;

    .currentLine {
        font-weight: bold;
        color: rgb(255, 200, 0);
    }
}