#playbackPanel {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-flow: column;
    grid-template-rows: 100%;

    background-color: #222;
}

#mainSection {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#controlsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#progressSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#progressSection p {
    margin: 0;
}

#progressBar {
    position: relative;
    margin: 0 8px;

    flex: 1;
    height: 4px;

    background-color: #666;
    cursor: pointer;
}

#progressBarPreview, #progressBarFill {
    position: absolute;
    top: 0;
    bottom: 0;
}

#progressBarPreview {
    width: 0;
    background-color: #AAA;
}

#progressBarFill {
    background-color: #FFF;
}

#progressBarFill::before { // Grot paska postępu
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #FFF;
  }

.btnTogglePlayback {
    height: 32px;

    cursor: pointer;
}