#playbackPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

    background-color: #222;
}

#controlsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
}

#progressSection {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#progressSection p {
    margin: 0;
}

#progressBar {
    margin: 0 8px;

    width: 50%;
    height: 3px;

    background-color: #666;
    cursor: pointer;
}

#progressBarFill {
    height: 100%;
    
    background-color: #FFF;
}

.btnTogglePlayback {
    height: 32px;

    cursor: pointer;
}