.modalWindow {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 235px);
    width: max-content;
}

#trackDetails_main {
    height: 100%;
    overflow-y: auto;
    padding: 8px 0;
}

.trackDetails_section {
    margin: 0;
    padding: 0;
}

.trackDetails_detailItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-items: end;

    list-style-type: none;
}

.trackDetails_detailItem_name {
    text-align: right;
    font-weight: bold;
    color: rgb(255, 200, 0);
}

.trackDetails_sectionHeading {
    margin: 8px 0 8px 0;
    padding-bottom: 4px;

    border-top: 2px solid #666;
    border-bottom: 2px solid #666;
    text-align: center;
}