#trackList_container {
    position: relative;
    height: 100%;
    width: 80%;
    padding: 36px;
}

#trackList {
    table-layout: fixed;
    width: 100%;

    border-spacing: 0;
}

#trackList_header {
    height: 48px;

    th {
        padding: 8px;

        text-align: left;
        border-bottom: 1px solid #111;
    }

    th:first-of-type {
        width: 36px;
    }
}

.thKebab {
    width: 32px;
}