#catalogHeader {
    margin: 16px 0 0 16px;

    line-height: 1;
}

#btnSync {
    vertical-align: middle;

    height: 2rem;

    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }

    &.spinning {
        animation: spin 1s linear infinite
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#mainSection {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(128px, max-content));

    padding: 16px;
}

.catalogItem {
    margin: 0;
}

.catalogItem_thumbnail {
    width: 100%;
    position: relative;
    min-width: 128px;
    max-width: 135px;
    aspect-ratio: 1/1;

    cursor: pointer;

    &:hover {
        .catalogItem_thumbnailImage {
            filter: brightness(85%);
        }
    }
}

#itemFigure_thumbnailImage {
    width: 100%;

    border-radius: 4%;
}

.catalogItem_thumbnailImage {
    width: 100%;

    border-radius: 8px;

    &.catalogItem_thumbnail_artist {
        border-radius: 100vh;
    }
}

.catalogItem_btnKebab {
    background-color: #222222D8;
    border: 1px solid #AAA;
    border-radius: 8px;
    padding: 4px;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.catalogItem_contextMenu {
    top: 32px;
    right: 2px;
}

.catalogItem_name {
    float: left;
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}