#catalogHeader {
    margin: 16px 0 0 16px;

    line-height: 1;
}

#btnSync {
    vertical-align: middle;

    height: 2rem;

    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }

    &.spinning {
        animation: spin 1s linear infinite
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

#mainSection {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(128px, max-content));

    padding: 16px;
}

.catalogItem_thumbnail {
    width: 100%;
    min-width: 128px;
    max-width: 135px;
    aspect-ratio: 1/1;

    border-radius: 8px;

    &.catalogItem_thumbnail_artist {
        border-radius: 100vh;
    }

    &:hover {
        filter: brightness(85%);
    }
}

.catalogItem_name {
    float: left;
    margin: 0;
}