#playlistOverview {
    width: 20%;
    padding: 36px;

    background-color: #3a3a3a;
}

#playlistFigure {
    margin: 0;
}

#playlistFigure_thumbnail {
    width: 100%;

    border-radius: 4%;
}

#playlistFigure, #playlistDetails {
    flex: 1;
}

#playlistFigcaption {
    display: flex;
    align-items: center;
    gap: 8px;
    
    margin: 8px;
}

#playlist_btnPlay {
    height: 32px;

    cursor: pointer;

    &:hover {
        filter: brightness(85%);
    }
}

#playlistName {
    margin: 0;

    overflow: hidden;
    word-wrap: break-word;
}

#playlistDetails {
    margin: 0;

    padding: 0;

    list-style-type: none;
}

.playlistDetails_detailName {
    font-weight: bold;
}