#page {
  display: flex;
  flex-direction: column;

  width: 100%;
}

form input {
  width: 100%;
  box-sizing: border-box;

  border-radius: 6px;
  color: inherit;
  background-color: transparent;
  font: inherit;
}

.formControlSection {
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.btnPrimary {
  background-color: rgb(255, 200, 0);
  color: #222;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.btnSecondary {
  background-color: transparent;
  color: unset;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.contextMenu {
  position: absolute;
  margin: 0;

  padding: 0;

  background-color: #222;
  overflow: hidden;
  transition: max-height ease-in .1s;
}

.contextMenu_options {
  margin: 0;
  padding: 0;
}

.contextMenu_options a {
  text-decoration: none;
}

.contextMenu_option {
  padding: 8px;

  list-style-type: none;
  user-select: none;
  cursor: pointer;
}

.contextMenu_option:hover {
  background-color: #444;
}

.contextMenu_option:active {
  background-color: #555;
}

.contextMenu_option_dangerous {
  color: #f22;
}