#page {
  display: flex;
  flex-direction: column;

  width: 100%;
}

a {
  color: inherit;
}

form input, form textarea {
  border: none;
  border-radius: 4px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #AAA;
  background-color: rgba(0, 0, 0, 0.2);
  font: inherit;
  color: inherit;
  outline: none;
}

form input {
  width: 100%;
  box-sizing: border-box;
}

form textarea {
  resize: none;
}

.requiredFieldSymbol {
  color: rgb(255, 55, 55);
}

.btnPrimary {
  background-color: rgb(255, 200, 0);
  color: #222;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.btnSecondary {
  background-color: transparent;
  color: unset;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}